@font-face {
    font-family: 'Inter';
    src: url('font/inter/Inter-Regular.otf'); 
}
body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 36px;
    color: orange;
    margin: 0;
}

.login-form {
    width: 300px;
    margin: 50px auto;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 0;
    margin-bottom: 20px;
}
.input-wrapper {
    display: flex;
    align-items: center;
  }
  
  .input-wrapper input {
    margin-right: 10px;
  }
  
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.login-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.forgot-account {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;

}

.separator {
    display: flex;
    align-items: center;
}

.separator .line {
    flex-grow: 1;
    height: 1px;
    background-color: gray;
}

.separator .or {
    padding: 0 10px;
    color: gray;
}

.create-account-button {
    
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}


.changepwd-form {
    width: 300px;
    margin: 50px auto;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.changepwd-form h2 {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 0;
    margin-bottom: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.changepwd-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.back-to-login {
    text-align: center;
    margin-bottom: 10px;
}

.back-to-login a {
    color: black;
    text-decoration: underline;
}