
@font-face {
    font-family: 'Inter';
    src: url('font/inter/Inter-Regular.otf'); 
}



.navbar {
    position: absolute;
   
    width: 100%;
    height: 835px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #070302 20.83%, rgba(37, 37, 37, 0.0416667) 95.83%, rgba(38, 38, 38, 0) 100%);
}

.fullscreen-div {
    width: 100%;
    height: 100vh;
    overflow: auto;  
}


.logo {
    position: absolute;
    width: 176px;
    height: 44px;
    left: 59px;
    top: 33px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    color: #F6C034;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 743px;
    left: 0px;
    top: 92px;
    background: url('image/background.png');
    background-size: cover;
}
.nav-item {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.about-us {
    width: 97px;
    height: 24px;
    left: 821px;
    top: 36px;
}

.news {
    width: 54px;
    height: 24px;
    left: 950px;
    top: 36px;
}

.posts {
width: 54px;
height: 24px;
left: 1035px;
top: 36px;

}
.contacts {
width: 77px;
height: 24px;
left: 1121px;
top: 36px;
}


.login {
    position: absolute;
    width: 125px; 
    height: 28px;
    left: 1218px;
    top: 36px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #F6C034;
    background: transparent;
    border: none;
}
.dropdown {
    position: relative;
}

.dropbtn {
   
    width: 100px; 
    height: 28px;
    left: 1218px;
    top: 36px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #F6C034;
    background: transparent;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: x-large;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sign {
    box-sizing: border-box;
    position: absolute;
    width: 101px;
    height: 38px;
    left: 1330px;
    top: 29px;
    border: 1px solid #F6C034;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.sign_up {
    width: auto; 
    height: 24px;
}
.challenge
{
    /* Small Effort Make Big Change */
position: absolute;
width: 646px;
height: 184px;
left: 469px;
top: 344px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 76px;
line-height: 92px;

color: #FFFFFF;
}
.rectangle {
    position: absolute;
    width: 100%;
    height: 381px;
    left: 0px;
    top: 835px;
    background: #F6C034;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    position: absolute;
    width: 513px;
    height: 58px;
    left: 499px;
    top: 867px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.image-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;  
}

.image1 {
    position: absolute;
    width: 419px;
    height: 364px;
    left: 67px;
    top: 956px;
}
.image2 {
    position: absolute;
    width: 430px;
    height: 364px;
    left: 540px;
    top: 956px;
}
.image3 {
    position: absolute;
    width: 419px;
    height: 367px;
    left: 1113px;
    top: 953px;
}

.imgtext1 {
    position: absolute;
width: 344px;
height: 34px;
left: 104px;
top: 1344px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
/* identical to box height */


color: #000000;
}
.imgtext2 {
    
position: absolute;
width: 335px;
height: 68px;
left: 594px;
top: 1344px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #000000;
}
.imgtext3 {
    position: absolute;
    width: 369px;
    height: 68px;
    left: 1042px;
    top: 1346px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    
    color: #000000;
}
.blog {
    position: absolute;
    width: 1365px;
    height: 486px;
    left: 76px;
    top: 1458px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.32);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.top-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.blog-button {

    border: none;
    flex: 1;
    text-align: center;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;
}

.blog-textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.bottom-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.discard-button {
    border: none;
    background-color: white;
    margin-right: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
/* identical to box height */


color: #8E8E8E;
}

.post-button {
    border: none;
    background-color: yellow;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
/* identical to box height */
color: #8E8E8E;
}

.blog-share {
    position: absolute;
    width: 1365px;
    height: 1112px;
    left: 76px;
    top: 2043px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.32);
    border-radius: 20px;
    padding: 20px;
}
.blog-share2 {
    position: absolute;
    width: 1365px;
    height: 2212px;
    left: 76px;
    /* Adjusted top value */
    top: 3185px; 
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.32);
    border-radius: 20px;
    padding: 20px;
}
.endless-module {
    display: flex;
    flex-direction: column;
    
    width: 100%; 
    min-height: 500px; 
}

.header {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
}

.info {
    margin-left: 10px;
}

.content {
    margin-top: 20px;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
}

.interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: gray;
    font-size: 14px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}

.blog-button2 {
    border:none;
    font-size: xx-large;
    flex-grow: 1;
    margin: 0 10px;
    text-align: center;
    background-color: #FFFFFF;
}



